<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FormulasForPhysics"
        tools:targetApi="31">
        <activity
            android:name=".laws.Class9Laws"
            android:exported="false" />
        <activity
            android:name=".laws.Class8Laws"
            android:exported="false" />
        <activity
            android:name=".laws.Class7Laws"
            android:exported="false" />
        <activity
            android:name=".formulas.Class9Formulas"
            android:exported="false" />
        <activity
            android:name=".formulas.Class8Formulas"
            android:exported="false" />
        <activity
            android:name=".formulas.Class7Formulas"
            android:exported="false" />
        <activity
            android:name=".select_topic.SelectA9thGradeTopic"
            android:exported="false" />
        <activity
            android:name=".select_topic.SelectA8thGradeTopic"
            android:exported="false" />
        <activity
            android:name=".select_topic.SelectA7thGradeTopic"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>